<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>
  

</head>
<body>
  <header class="bg-green-700">

    <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
    <h1><%= @page_title %></h1>
  </header>

  <section class="flex">
    <nav class="bg-green-900 p-6">
      <%= render partial: 'layouts/cart', locals: {cart: @cart } %>
      <ul class="text-gray-300 leading-8">
        <li><a href="/"><%= t('.home') %></a></li>
         <li><a href="/store/questions"><%= t('.questions') %></a></li>
        <li><a href="/store/news"><%= t('.news') %></a></li>
        <li><a href="/store/contact"><%= t('.contact') %></a></li>
        <% if session[:user_id] %>
          <hr class="my-2">
          <ul class="text-gray-300 leading-8">
          <li><%= link_to 'Orders',orders_path%></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users',users_path%></li>
          <li><%= button_to 'Log-out', logout_path, method: :delete %></li>
          <li>    
            <aside data-controller="locale">
              <%= form_tag store_index_path, class: 'locale' do %>
                <%= select_tag 'set_locale',options_for_select(LANGUAGES, I18n.locale.to_s),onchange: 'this.form.submit()' %>
                <%= submit_tag 'submit', data: {'locale-target' => 'submit'} %>
              <% end %>
            </aside>
          </li>
          <%else%>
            <li><%=link_to "log-in ",login_path%></li>
            <li><%= link_to 'Signup', new_user_path %></li>
          </ul>
        <% end %>
      </ul>
    </nav>
    <main class="container mx-auto mt-4 px-5 flex">
      <%= yield %>
    </main>
  </section>
  
</body>
</html>
